<!DOCTYPE HTML>
<html style="font-size: 20px">
<head>
    <link rel="shortcut icon" href="https://cdn.jsdelivr.cn/npm/@bootcss/v3.bootcss.com@1.0.48/favicon.ico">
    <title>todo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <style>
        input {
            font-size: 3vw;
            height: 4vw;
            line-height: 4vw;
            margin-left: 1vw;
            margin-top: 1vw;
            width: 20vw
        }
        button {
            height: 4vw;
            margin-left: 1vw;
            margin-top: 1vw;
            width: 8vw
        }
    </style>
</head>
<body>
{% block main %}
{% endblock %}
</body>
</html>
