{% extends "base.html" %}
{% block main %}
<form action="/topic/add" method="POST">
    <input type="text" name="content">
    <br>
    <button class="btn" type="submit" style="background-color:chartreuse"></button>
</form>

<div>
    {% for t in topics %}
    <form action="/topic/update/{{t.id}}" method="post">
        <div>
            <span style="line-height: 10vw">{{loop.index}}</span>
            {% if t.status %}
            <input name="content" value="{{t.content}}">
            {% else %}
            <input name="content" value="{{t.content}}" disabled="disabled">
            {% endif %}
            <input name="pid" style="width: 20vw" value="{{t.pid | format_input}}">
        </div>
        <br>
        <button class="btn" type="submit" style="background-color:indigo"></button>
        <a class="btn" href="/topic/switch/{{t.id}}" style="background-color:black"></a>
        {% if t.status %}
        <a class="btn" href="/topic/delete/{{t.id}}" style="background-color:red"></a>
        {% endif %}
    </form>
    {% endfor %}
</div>
{% endblock %}
